:root {
  --one-player: rgb(9, 119, 156);
  --two-player: rgb(131, 24, 24);
  --board: #2424248a;
  --select :rgb(28, 157, 28);
}

.users {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  justify-content: space-between;
  margin-bottom: 20px;
}

.isSelected {
  color: var(--select);
}

.player--one {
  color: var(--one-player);
}

.player--two {
  color: var(--two-player);
}

.board {
  background-color: var(--board);
  border-radius: 20px;
  padding: 20px;
}

tr {
  display: inline-flex;
  flex-direction: column;
}

tr:hover {
  background-color: #726b6b28;
  border-radius: 20px;
  cursor: pointer;
}

/* tr > td:last-child > div{
  background-color: yellow;
} */
td {
  margin: 10px;
}

.elements--one {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(53, 50, 50, 0.866);
  background-color: var(--one-player);
  border-radius: 50%;
  cursor: pointer;
}

.elements {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(53, 50, 50, 0.866);
  background-color: var(--board);
  border-radius: 50%;
}

.elements--two {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(53, 50, 50, 0.866);
  background-color: var(--two-player);
  border-radius: 50%;
  cursor: pointer;
}