:root {
  --one-player: #31b49a;
  --two-player: #e51d1d;
  --board: #2424248a;
  --select: #3dc919;
  --border: rgba(53, 50, 50, 0.866);
  --button:rgba(53, 50, 50);
}

.users {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  justify-content: space-between;
  margin-bottom: 20px;
}

.isSelected {
  color: var(--select);
}

.player--one {
  color: var(--one-player);
}

.player--two {
  color: var(--two-player);
}

.board {
  background-color: var(--board);
  border-radius: 20px;
  padding: 20px;
}

tr {
  display: inline-flex;
  flex-direction: column;
}

tr:hover {
  background-color: #726b6b28;
  border-radius: 20px;
  cursor: pointer;
}

td {
  margin: 10px;
}

.elements--one {
  width: 50px;
  height: 50px;
  border: 1px solid var(--border);
  background-color: var(--one-player);
  border-radius: 50%;
  cursor: pointer;
}

.elements {
  width: 50px;
  height: 50px;
  border: 1px solid var(--border);
  background-color: var(--board);
  border-radius: 50%;
}

.elements--two {
  width: 50px;
  height: 50px;
  border: 1px solid var(--border);
  background-color: var(--two-player);
  border-radius: 50%;
  cursor: pointer;
}

.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.winner__modal {
  position: absolute;
  width: 500px;
  padding: 10px;
  border-radius: 20px;
  display: grid;
  place-items: center;
}

.winner {
  text-align: center;
  font-style: oblique;
  font-size: 2rem;
  font-weight: bold;
}
button {
  cursor: pointer;
  padding: 16px 26px;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  background-color: rgb(195, 208, 223);
  border-style: none;
  border-radius: 10px;
  margin-bottom: 20px;
}
button:hover{
  background-color: var(--button);
  color: #fff;
}